<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--<meta name="viewport" content="width=500, initial-scale=1">-->
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Cafe Bar Betys</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="styles/app.css" rel="stylesheet" type="text/css">
    <link href="styles/home.css" rel="stylesheet" type="text/css">
    <link href="styles/about.css" rel="stylesheet" type="text/css">
    <link href="styles/menu.css" rel="stylesheet" type="text/css">
    <link href="styles/gallery.css" rel="stylesheet" type="text/css">
    <link href="styles/blog.css" rel="stylesheet" type="text/css">

    <!--<base href="#/">-->

    <script src="bower_components/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-cookies.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js">-->
    <!--</script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>-->
</head>
<body ng-app="coffeApp" ng-cloak ng-controller="MainController as vm">
<div id="site-wrap">
    <header id="header">
    <div>
        <div class="text-wrap">
            <div class="crossfade">
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
            </div>
        </div>
        <nav id="nav" class="effect">
            <div class="nav-color">
                <div class="nav-opacity">
                    <a id="logo" href="#/home" ng-click="collapsed = collapsed">
                        <img src="img/Logo.png">
                    </a>
                    <ul class="nav">
                        <li>
                            <a href="#/home" title="home" ng-click="collapsed = collapsed">Home</a>
                        </li>
                        <li ng-if="vm.currentLogUser">
                            <a href="#" ng-click="collapsed =!collapsed" >Sing up
                                <ul>
                                    <li>
                                        <a href="#/acount/register" ng-click="collapsed =!collapsed">Register</a>
                                    </li>
                                    <li>
                                        <a href="#/login" ng-click="collapsed =!collapsed">login</a>
                                    </li>
                                </ul>

                            </a>
                        </li>
                        <li ng-if="vm.curentLogUser">
                            <a href="#" ng-click="collapsed =!collapsed">{{vm.curentLogUser.get('username')}}
                                <ul>
                                    <li>
                                        <a ng-click="vm.logOut(currentUser)">Log Out</a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <a href="#/menu" ng-click="collapsed =!collapsed">Menu
                                <ul>
                                    <li>
                                        <a href="menu/alcohol" ng-click="collapsed =!collapsed">Alcohol Drinks</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="collapsed = collapsed">Alcohol free Drinks</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="collapsed = collapsed">Foods</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="collapsed = collapsed">Hot drinks</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="collapsed = collapsed">Deserts</a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li>
                            <a href="#/galery" ng-click="collapsed =!collapsed">Galery</a>
                        </li>
                        <li>
                            <a href="#/blog" ng-click="collapsed =!collapsed">Blog</a>
                            <ul ng-if="!vm.currentLogUser">
                                <li>
                                    <a href="#/add/post">Add Post</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/about" ng-click="collapsed =!collapsed">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-wrap">
            <div id="head-title" ng-controller="HomeController as vm">
                <h1 class="title">
                    <!--bar BETY'S-->
                    {{vm.home}}
                </h1>
                <p>
                    Welcome <br/>
                    Work time <br/>
                    08:00 - 22:00 <br/>
                    every day <br/>
                </p>
                <button class="btn">Reservation here</button>
            </div>
        </div>
    </div>
    </header>
    <div class="text-wrap">
        <div id="nav-content">
            <ul class="nav-map nav">
                <li>{{handelbars}}</li>
                <li>lakjsdlkja</li>
                <li>lakjsdlkja</li>
            </ul>
            <div class="search">
                <input class="input" type="search">
                <button class="btn">Search</button>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="text-wrap border-bottom-effect">
            <div ng-view>

            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="text-wrap">
            <div class="footer-info" ng-if="collapsed">
                <div class="info-left">
                    <img src="img/Logo.png"></br>
                    <strong>© MyCuisine Theme, 2010</strong>
                    <p>
                    Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et
                    risus. Aenean non lectus ipsum. Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed
                    magna id dolor cursus ullamcorper ut commodo nunc. Mauris suscipit, dolor et tristique
                    scelerisque, leo neque congue libero, mollis accumsan nulla
                    </p>
                </div>
                <div class="info-center">
                    <h3>RECENT COMMENTS</h3>
                    <ul>
                        <li>
                            <a href="#">Rhoncus quis varius sed velit nibh moles</a>
                        </li>
                        <li>
                            <a href="#">Mauris quis nunc eu nunc molestie</a>
                        </li>
                        <li>
                            <a href="#">Egestas et sit amet odio morbi quis nunc</a>
                        </li>
                        <li>
                            <a href="#">Lacinia velit in nibh sodales sed quis nunc</a>
                        </li>
                        <li>
                            <a href="#">Pharetra sem feugiat nibh sodales sed</a>
                        </li>
                        <li>
                            <a href="#">Vivamus ut cursus augue nibh sodales sed </a>
                        </li>
                    </ul>
                </div>
                <div class="info-right">
                    <h3>Recent posts</h3>
                    <ul>
                        <li>
                            <a href="#">Rhoncus quis varius sed velit nibh moles</a>
                        </li>
                        <li>
                            <a href="#">Mauris quis nunc eu nunc molestie</a>
                        </li>
                        <li>
                            <a href="#">Egestas et sit amet odio morbi quis nunc</a>
                        </li>
                        <li>
                            <a href="#">Lacinia velit in nibh sodales sed quis nunc</a>
                        </li>
                        <li>
                            <a href="#">Pharetra sem feugiat nibh sodales sed</a>
                        </li>
                        <li>
                            <a href="#">Vivamus ut cursus augue nibh sodales sed </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-logo center-item" ng-if="!collapsed">
        <img src="img/footer-logo.jpg"/>
        </div>
        <ul class="footer-nav nav center-item">
            <li class="current">
                <a href="#/home" title="home" ng-click="collapsed = collapsed">Home</a>
            </li>
            <li class="current">
                <a href="#/login" ng-click="collapsed =!collapsed">Login</a>
            </li>
            <li>
                <a href="#/menu" ng-click="collapsed =!collapsed">Menu</a>
            </li>
            <li>
                <a href="#/galery" ng-click="collapsed =!collapsed">Galery</a>
            </li>
            <li>
                <a href="#/blog" ng-click="collapsed =!collapsed">Blog</a>
            </li>
            <li>
                <a href="#/about" ng-click="collapsed =!collapsed">About</a>
            </li>
        </ul>
        <p class="copy center-item">
            Designet by <strong>Telerik Academy</strong> - Powered by <strong>Ilian Bratanov</strong>
        </p>
    </footer>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
<script>Parse.initialize("5Xaa3ePLj1KMmFdWZg2SO2c4EvBbHnYP56mwXrz0", "JGUEUsh0Q8Bo3LnUp4EjeJnAzccskFLpNfOPpAB9");</script>

<script src="scripts/copy.js"></script>
<script src="scripts/service/authService.js"></script>
<script src="scripts/service/dataService.js"></script>
<script src="scripts/controller/blogController.js"></script>
<script src="scripts/controller/mainController.js"></script>
<script src="scripts/controller/logOutController.js"></script>
<script src="scripts/controller/homeControler.js"></script>
<script src="scripts/controller/loginController.js"></script>
<script src="scripts/controller/registerController.js"></script>
<script src="scripts/controller/postController.js"></script>

</body>
</html>