<div class="conteiner">
    <div>
        <p>
        <h2>ADDRESS</h2>
        <span>Sofiq</span>
        <span>str. Vidlich 48</span>
        </p>
        <p>
        <h2>HOURS OF OPERATION</h2>
        <span>MONDAY-FRIDAY:</span>
        <span>str. Vidlich 48</span>
        </p>
        <p>
        <h2>ADDRESS</h2>
        <span>Sofiq</span>
        <span>str. Vidlich 48</span>
        </p>
    </div>
    <div class="footer-info">
        <p>
            <img src="img/Logo.png">
            <strong>© MyCuisine Theme, 2010</strong>
            Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et risus. Aenean non lectus ipsum. Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed magna id dolor cursus ullamcorper ut commodo nunc. Mauris suscipit, dolor et tristique scelerisque, leo neque congue libero, mollis accumsan nulla
        </p>
        <p>
            <h1>
                Recent Comments
            </h1>
            <ul>
                <li>
                    {{vm.coments}}
                </li>
            </ul>
        </p>
        <p>
        <h1>
            Recent Posts
        </h1>
        <ul>
            <li>
                {{vm.posts}}
            </li>
        </ul>
        </p>
    </div>
</div>