<div class="blog">
    <div class="left-side">
        <section class="user-post">
            <div class="image">
                <img src="img/coctail2.jpg">
            </div>
            <p>
                Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi
                lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet
                arcu
                lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu. Donec
                dictum
                eros eu felis laoreet egestas. Nullam adipiscing nibh id felis lacinia a iaculis nisi vestibulum. Ut
                sit
                amet urna enim, at accumsan quam. Nunc dui elit, hendrerit quis convallis sit amet, dapibus in
                metus. Ut
                dolor est, blandit a auctor vitae, accumsan id eros. Vivamus bibendum dolor eget lacus hendrerit et
                egestas risus tincidunt. Vivamus convallis magna sit amet orci vehicula suscipit. Quisque rhoncus
                lorem
                in ligula condimentum Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et
                sit
                amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue.
                Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at,
                mattis ut
                arcu. Donec dictum eros eu felis laoreet egestas. Nullam adipiscing nibh id felis lacinia a iaculis
                nisi
                vestibulum. Ut sit amet urna enim, at accumsan quam. Nunc dui elit, hendrerit quis convallis sit
                amet,
                dapibus in metus. Ut dolor est, blandit a auctor vitae, accumsan id eros. Vivamus bibendum dolor
                eget
                lacus hendrerit et egestas risus tincidunt. Vivamus convallis magna sit amet orci vehicula suscipit.
                Quisque rhoncus lorem in ligula condimentum sollicitudin at a massa. Donec mattis, libero at euismod
            </p>
        </section>
        <div class="blog-comments">
            <h1>30 comments</h1>
            <ul>
                <li>
                    <div class="rest-post">
                        <div class="image left-side">
                            <img src="img/coctail4.jpg">
                            <p>12-13-2011</p>
                        </div>
                        <article class="blog-post right-side">
                            <div class="effect">
                                <div class="blog-list">
                                    <h3>Nick Roach says:</h3>
                                    <p>
                                        Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et
                                        sit
                                        amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat.
                                        Vivamus
                                        ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus
                                        tellus orci, congue at tristique at, mattis ut arcu. Donec dictum eros eu
                                        felis
                                        laoreet egestas. Nullam adipiscing nibh id felis lacinia a iaculis nisi
                                        vestibulum. Ut sit amet
                                    </p>
                                    <button class="btn">Search</button>
                                </div>
                            </div>
                        </article>
                    </div>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="rest-post">
                                <div class="image left-side">
                                    <img src="img/coctail4.jpg">
                                    <p>12-13-2011</p>
                                </div>
                                <article class="blog-post right-side">
                                    <div class="effect">
                                        <div class="blog-list">
                                            <h3>Nick Roach says:</h3>
                                            <p>
                                                Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie
                                                egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed
                                                pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu
                                                lorem, at egestas tellus. Phasellus tellus orci, congue at tristique
                                                at,
                                                mattis ut arcu. Donec dictum eros eu felis laoreet egestas.
                                            </p>
                                            <button class="btn">Search</button>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-side">
        <ul>
            <li>
                <article class="blog-post">
                    <h2>Recent posts</h2>
                    <div class="effect">
                        <div class="blog-list">
                            <ul>
                                <li>
                                    <a href="#/">Rhoncus quis varius sed velit nibh</a>
                                </li>
                                <li>
                                    <a href="#/">Mauris quis nunc eu nunc molestie</a>
                                </li>
                                <li>
                                    <a href="#/">Egestas et sit amet odio morbi quis</a>
                                </li>
                                <li>
                                    <a href="#/">Lacinia velit in nibh sodales sed quis</a>
                                </li>
                                <li>
                                    <a href="#/">Pharetra sem feugiat nibh sodales</a>
                                </li>
                                <li>
                                    <a href="#/">Vivamus ut cursus augue nibh soda</a>
                                </li>
                                <li>
                                    <a href="#/">Egestas et sit amet odio morbi quis</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="blog-post">
                    <h2>Recent posts</h2>
                    <div class="effect">
                        <div class="blog-list">
                            <ul>
                                <li>
                                    <a href="#/">Rhoncus quis varius sed velit nibh</a>
                                </li>
                                <li>
                                    <a href="#/">Mauris quis nunc eu nunc molestie</a>
                                </li>
                                <li>
                                    <a href="#/">Egestas et sit amet odio morbi quis</a>
                                </li>
                                <li>
                                    <a href="#/">Lacinia velit in nibh sodales sed quis</a>
                                </li>
                                <li>
                                    <a href="#/">Pharetra sem feugiat nibh sodales</a>
                                </li>
                                <li>
                                    <a href="#/">Vivamus ut cursus augue nibh soda</a>
                                </li>
                                <li>
                                    <a href="#/">Egestas et sit amet odio morbi quis</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="blog-post">
                    <h2>Recent posts</h2>
                    <div class="effect">
                        <div class="blog-list">
                            <ul>
                                <li>
                                    <a href="#/">Rhoncus quis varius sed velit nibh</a>
                                </li>
                                <li>
                                    <a href="#/">Mauris quis nunc eu nunc molestie</a>
                                </li>
                                <li>
                                    <a href="#/">Egestas et sit amet odio morbi quis</a>
                                </li>
                                <li>
                                    <a href="#/">Lacinia velit in nibh sodales sed quis</a>
                                </li>
                                <li>
                                    <a href="#/">Pharetra sem feugiat nibh sodales</a>
                                </li>
                                <li>
                                    <a href="#/">Vivamus ut cursus augue nibh soda</a>
                                </li>
                                <li>
                                    <a href="#/">Egestas et sit amet odio morbi quis</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
    <div class="left-side">
        <h1>Leave a comment</h1>
        <div class="left-side">
            <input class="input" type="text" placeholder="Name">
            <textarea class="input" type="text" placeholder="Enter your comment here"></textarea>
            <button class="btn">Add comment</button>
        </div>
    </div>
</div>