<!--<div class="wrapper">-->
<!--<div class="sliding-background"></div>-->
<!--</div>-->

<div class="image-gallery">
    <div class="title">Gallery</div>
    <div class="big-image">
        <img id="html5"
             src="img/betys1.jpg"/>
        <img id="css3" src="img/betys1.jpg"/>
        <img id="less" src="img/betys1.jpg"/>
        <img id="modern"
             src="img/betys1.jpg"/>
        <img id="default"
             src="img/betys1.jpg"/>
    </div>
    <ul class="nav">
        <li>
            <a href="#html5"><img
                    src="img/betys2.jpg"/></a>
        </li>
        <li>
            <a href="#css3"><img
                    src="img/betys3.jpg"/></a>
        </li>
        <li>
            <a href="#less"><img
                    src="img/betys4.jpg"/></a>
        </li>
        <li>
            <a href="#modern"><img
                    src="img/coctail3.jpg"/></a>
        </li>
    </ul>
</div>