<div class="home">
    <div class="home-wrap">
        <div class="top-menu">
            kjhgkjhgjkhgkjhgkjhgkjhg
        </div>
        <div class="location">
            <h2>Location and hours of operation</h2>
            <iframe width="100%" height="100%" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9YOHft-EqkARMoHrOm_zunM&key=AIzaSyAwjNpJp1F1TUCnXwrklZ4x1_WRiIUqU2g"
                    allowfullscreen>
            </iframe>
            <span>Sofiq str. Vidlich 48</span>
            <strong>Mon-Fri</strong>
            <span>8am-10pm</span>
            <strong>Sat-Sun</strong>
            <span>8am-11pm</span>
        </div>
        <div class="blog-post">
            <h2>Title</h2>
            <div class="effect">
                <div class="blog">
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                    <h2>name</h2>
                    <p>
                        lakjsdhflkjahsdkjfhlkajshdflkjahslkdjhflkajshdlkfjhalksjhdflaslkdjhflkjahsdlkjfhlkashdflkjhasasdsadvsdvsadasd</p>
                </div>
            </div>
        </div>
    </div>
</div>