<div id="slider">
    <ul>
        <li>
            <div class="slider-container">
                <img src="img/betys-kamenica.jpg">
             </div>
        </li>
        <li>
            <div class="slider-container">
                <img src="img/betys-party.jpg">
            </div>
        </li>
        <li>
            <div class="slider-container">
                <img src="img/betys-coctail.jpg">
            </div>
        </li>
        <li>
            <div class="slider-container">
                <img src="img/coctail.jpg">
            </div>
        </li>
    </ul>
</div>