<form class="form" name="loginForm">
    <fieldset>
        <legend>Login User</legend>
        <label for="input-userName">User name</label>
        <input id="input-userName" ng-model="user.name" class="input" type="text" required="required" placeholder="User Name">
        <label for="input-password">Password</label>
        <input id="input-password" ng-model="user.password" class="input" type="password" required="required" placeholder="Password">
        <button ng-click="vm.login(user, loginForm)" ng-disabled="loginForm.$invalid" class="btn btn-login">Log in</button>
    </fieldset>
</form>