<div class="menu">
    <article class="product-menu left">
        <h2>Foods</h2>
        <ul>
            <li>
                <a>
                    <!--<img class="price" src="img/price-image.png">-->
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena jkj kj kjjkk asd</p>
                </article>
            </li>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
        </ul>
    </article>
    <article class="product-menu center">
        <h2>Top products</h2>
        <ul>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
        </ul>
    </article>
    <article class="product-menu right">
        <h2>Top products</h2>
        <ul>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
            <li>
                <a>
                    <div class="image">
                        <img src="img/coctail4.jpg">
                    </div>
                </a>
                <article class="top-product">
                    <a><h3>Beer food</h3></a>
                    <p>Studena priqtna na dobre cena</p>
                </article>
            </li>
        </ul>
    </article>
</div>
