<form class="form" name="registerForm">
    <fieldset>
        <legend>Register User</legend>
        <div>
            <label for="inputUserName">User name</label>
            <div>
                <input id="inputUserName" ng-model="user.name" class="input" type="text" required="required" placeholder="User Name">
            </div>
        </div>
        <div>
            <label for="inputEmail">Email</label>
            <div>
                <input id="inputEmail" ng-model="user.email" class="input" type="email" required="required" placeholder="Email">
            </div>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <div>
                <input id="inputPassword" ng-model="user.password" class="input" type="password" required= "required" placeholder="Password" >
            </div>
        </div>
        <div>
            <label for="inputConfirmPassword">Confirm Password</label>
            <div>
                <input id="inputConfirmPassword" ng-model="user.confirmPassword" class="input" type="password" required="required" placeholder="Confirm Password">
            </div>
        </div>
        <label for="img">Avatar</label>
        <div>
            <input id="img" type="file" ng-model="user.image" class="input">
            <button ng-click="vm.register(user, registerForm)" ng-disabled="registerForm.$invalid || user.password != user.confirmPassword" class="btn btn-register">Register</button>
        </div>
    </fieldset>
</form>